
body{
    background-color: #F5F0DC; 
    font-family: Helvetica, Arial, sans-serif;
    width: 1260px;
    margin-left: auto;
    margin-right: auto;
}

#titulo {
    text-align: center;
    text-shadow: 1px 1px 3px #140905;
    font-size: 3rem;
}

#menu {
    float: left;

}

#conteudo {
    float: right
}

.foto-instantanea {
    width: 250px;
    height: 250px;
    background-color: #FFF;
    text-align: center;
    padding: 18px;

    font-family: cursive;
    box-shadow: 5px 5px 15px 3px #000000;
    border: 1px SOLID #333;
    border-radius: 8px;
}

.foto-instantanea:hover {
    transform: rotate(-5deg) ;
}

.menu-navegacao ul {
    list-style: none;
    padding-left: 0;
}

.menu-navegacao ul li {
    background-color: #835203;
    margin-bottom: 4px;
    padding: 4px;
}

.menu-navegacao ul li:hover {
    background-color: #583700;
    font-size: 1.1em;
}

.menu-navegacao ul a {
    color: #FFF;
    text-decoration: none;
}

.menu-lg {
    font-size: 1.2em;
    padding: 8px 20px;
}
.subtitulo {
    background-color: #835203;
    
    background: -webkit-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 24%, rgba(233,212,179,1) 100%);
    background: -moz-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 24%, rgba(233,212,179,1) 100%);
   
    background: linear-gradient(left, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 24%, rgba(233,212,179,1) 100%);

    color: #FFF;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 30px;
    padding: .3em;
    padding-left: .9em;;
}


#tb-nutrientes {
    margin-left: auto;
    margin-right: auto;
    border: 1px SOLID #333;
    border-radius: 10px;

    width: 70%;
}

#tb-nutrientes thead {
    background-color: #835203;
    color: #FFF;
    font-weight: 600;
    font-size: 1.20em;
}

#tb-nutrientes th {
    padding: 8px;
}

#tb-nutrientes tbody tr:nth-child(odd) {
    background-color: #f7c881;
}

#tb-nutrientes tbody tr:nth-child(even) {
    background-color: #fff;
}

#banner {
    top: 0;
    right: 0;
    position: fixed;
	 transform: translate(25px, 50px) rotate(45deg);
}
